html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-height: 675px;
  height: 100vh;
  background: #fcf8db;
  --black: #00202a;
  --white: #f8f8f8;
  --blue: #2348cd;
  --skin: #f77676;
  --dark-skin: #cc3c40;
  --light-skin: #f3af9f;
  --yellow: #f6d359;
  --dark-yellow: #e9a964;
}

.person,
.person::before,
.person::after,
.person *,
.person *::after,
.person *::before {
  position: absolute;
  content: "";
}
.person {
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  /* border: 2px solid red; */
  background:
  /* collar bone */ linear-gradient(var(--skin), var(--skin)) 45px
      35px / 95px 2px no-repeat,
    /* skin */ radial-gradient(var(--light-skin) 70%, transparent 0) 0 -50px / 100%
      130% no-repeat /* var(--light-skin) */;
  border-radius: 50%;
  translate: -90px 60px;
}
/* Neck */
.person::before {
  top: -90px;
  left: 60px;
  width: 80px;
  height: 100px;
  mask-image: linear-gradient(80deg, black 80%, transparent calc(80% + 1px));
  background: var(--light-skin)
    linear-gradient(140deg, var(--skin) 50%, transparent calc(50% + 1px));
}
